body {
  padding: 0px;
  margin: 0;
  font-family: Arial;
background-color: black;


}

/* NAVBAR STICKY */
.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  padding: 15px;
}

/* MENU LIST */
.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0px;
  padding: 0px;
}

/* LINKS */
.nav ul li a {
  text-decoration: none;
  color: rgb(15, 49, 201);
  padding: 8px 12px;
  transition: 0.3s;
  position: relative;
}

.nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #00ffcc;
  transition: 0.3s;
}
/* hover */
.nav ul li a:hover {
  color: #00ffcc;
}

.nav ul li a:hover::after {
  width: 100%;
}

/* HOME */
#home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: #007bff;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: -1;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 60px;
  background-color: white;
  padding: 0 5px;


}

#home h1 {
  color: #00ffcc;
  font-size: 40px;
  text-align: left;



}
  
  #home img {
    flex: 1;
    width: 280px;
    text-align: right;
    height: 270px;
     border-radius: 50%; 
     border: 4px solid black; 
     justify-content: flex-end;
     max-width: 100%;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
     
     
  }

    /*  */
    .home-text{
      flex:1;
      text-align: left;
    }
    .home-img{
      margin: 20px;
      
    }

  .home-img img{
  width:280px;
  height:auto;
  border:4px solid black;
  box-shadow:0 0 20px rgba(0,0,0,0.3);
}
    
#skills {
  padding: 60px 20px;
  margin: 260px;
  text-align: center;

}
#skills img{
 width: 100px;
 height: 50px;
 
}

/* SECTIONS */


.card {
  display: flex;
  background: rgb(16, 212, 121);
  padding: 20px;
  margin: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}


.card button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  
}

.card button:hover {
  background: #0056b3;
  
}

.section-animate button {
  
  background-color: rgb(14, 233, 215);
  
}

#contact {
  
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 170px;
}
.project {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   align-items: center; 
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
} 

#other {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(16, 212, 121);
}


/* FOOTER */
footer {
  background: black;
  text-align: center;
  color: whitesmoke;
  padding: 10px;


}

h2 {
  text-align: center;
  font-size: 30px;
}

h1 {
  text-align: center;
  color: #00ffcc;
}

#about {
  display: block;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: 0px auto;
  line-height: 1.8;
  text-align: center;
  margin-top: 100vh;
  background-color: dimgray;

  
}
#aboutimg{
  width: 200px;
  height: auto;
  background-color: rgb(192, 178, 178);
  text-align: left;
   padding: 0px;
  margin: 0 auto; 
  float: left;
  border-radius: 50px;

  

}
#aboutimg img {
  width: 100%;          /* makes image fit container */
  height: auto;
}
