body {
  padding: 0px;
    margin: 0;
    font-family: Arial;

}

/* NAVBAR STICKY */
.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  padding: 15px;
}

/* MENU LIST */
.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* LINKS */
.nav ul li a {
  position: relative;
  text-decoration: none;
  color: rgb(15, 49, 201);
  padding: 8px 12px;
  transition: 0.3s;
}

/* underline line */
.nav ul li a::after {
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #00ffcc;
  transition: 0.3s;
}

/* hover */
.nav ul li a:hover {
  color: #00ffcc;
}

.nav ul li a:hover::after {
  width: 100%;
}

  /* HOME */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    margin: 0 auto;
    color:#007bff;
    text-align: center;
    
}
#home h1{
    color: rgb(26, 149, 197);
    text-align:center;
    font-size: 60px;
    

    
}
/* #project{
  padding: 150px;
} */
#skills{

  padding: 10px;
  margin: 0px;
  text-align: center;

}

#home img {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    border:6px solid aqua;
   margin-bottom: 100px;
}

/* SECTIONS */

.card {
  display: inline-block;
  background: aqua;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-align: center;

}

.card button {
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  
}

.card button:hover {
  background: #0056b3;
  
}
.section-animate {
  justify-content:center ;
}

.section-animate button{

  background-color: rgb(255, 106, 47);
}
#other{
  display: inline-block;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: lightgreen;
}

 
/* FOOTER */
footer {
    background:black;
    color:whitesmoke;
    padding: 20px;
    
}